Naz.Hastane.Medula/Service References/FaturaKayitIslemleri/FaturaKayitIslemleri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://dvo.gss.sgk.gov.tr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servisler.ws.gss.sgk.gov.tr" targetNamespace="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dvo.gss.sgk.gov.tr">
      <xsd:import namespace="http://servisler.ws.gss.sgk.gov.tr" />
      <xsd:complexType name="FaturaOkuGirisDVO">
        <xsd:sequence>
          <xsd:element name="faturaRefNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="faturaDetaylari" nillable="true" type="impl:ArrayOf_tns2_nillable_FaturaCevapDetayDVO" />
          <xsd:element name="faturaRefNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTutari" type="xsd:double" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaCevapDetayDVO">
        <xsd:sequence>
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="islemDetaylari" nillable="true" type="impl:ArrayOf_tns2_nillable_IslemDetayDVO" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="taburcuKodu" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipToplamTutar" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IslemDetayDVO">
        <xsd:sequence>
          <xsd:element name="islemSiraNo" nillable="true" type="xsd:string" />
          <xsd:element name="islemTutari" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaIptalGirisDVO">
        <xsd:sequence>
          <xsd:element name="faturaTeslimNo" nillable="true" type="impl:ArrayOf_xsd_nillable_string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaIptalCevapDVO">
        <xsd:sequence>
          <xsd:element name="hataliKayitlar" nillable="true" type="impl:ArrayOf_tns2_nillable_FaturaIptalHataliKayitDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaIptalHataliKayitDVO">
        <xsd:sequence>
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="hataKodu" nillable="true" type="xsd:string" />
          <xsd:element name="hataMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaGirisDVO">
        <xsd:sequence>
          <xsd:element name="faturaRefNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hizmetDetaylari" nillable="true" type="impl:ArrayOf_tns2_nillable_HizmetDetayDVO" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HizmetDetayDVO">
        <xsd:sequence>
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="taburcuKodu" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaCevapDVO">
        <xsd:sequence>
          <xsd:element name="faturaRefNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaDetaylari" nillable="true" type="impl:ArrayOf_tns2_nillable_FaturaDetayDVO" />
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="faturaTutari" type="xsd:double" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hataliKayitlar" nillable="true" type="impl:ArrayOf_tns2_nillable_FaturaHataDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaDetayDVO">
        <xsd:sequence>
          <xsd:element name="islemDetaylari" nillable="true" type="impl:ArrayOf_tns2_nillable_IslemDetayDVO" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipToplamTutar" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaturaHataDVO">
        <xsd:sequence>
          <xsd:element name="hataKodu" nillable="true" type="xsd:string" />
          <xsd:element name="hataMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servisler.ws.gss.sgk.gov.tr">
      <xsd:import namespace="http://dvo.gss.sgk.gov.tr" />
      <xsd:element name="faturaOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaOkuReturn" nillable="true" type="tns2:FaturaOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaIptal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaIptalGiris" nillable="true" type="tns2:FaturaIptalGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaIptalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaIptalReturn" nillable="true" type="tns2:FaturaIptalCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaKayit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaGiris" nillable="true" type="tns2:FaturaGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaKayitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaKayitReturn" nillable="true" type="tns2:FaturaCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaTutarOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaOkuGiris" nillable="true" type="tns2:FaturaGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaTutarOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaTutarOkuReturn" nillable="true" type="tns2:FaturaCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faturaOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="faturaOkuGiris" nillable="true" type="tns2:FaturaOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns2_nillable_IslemDetayDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IslemDetayDVO" nillable="true" type="tns2:IslemDetayDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FaturaCevapDetayDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaturaCevapDetayDVO" nillable="true" type="tns2:FaturaCevapDetayDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_nillable_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FaturaIptalHataliKayitDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaturaIptalHataliKayitDVO" nillable="true" type="tns2:FaturaIptalHataliKayitDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_HizmetDetayDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="HizmetDetayDVO" nillable="true" type="tns2:HizmetDetayDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FaturaDetayDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaturaDetayDVO" nillable="true" type="tns2:FaturaDetayDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FaturaHataDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaturaHataDVO" nillable="true" type="tns2:FaturaHataDVO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="faturaOkuRequest">
    <wsdl:part name="parameters" element="impl:faturaOku" />
  </wsdl:message>
  <wsdl:message name="faturaKayitRequest">
    <wsdl:part name="parameters" element="impl:faturaKayit" />
  </wsdl:message>
  <wsdl:message name="faturaIptalRequest">
    <wsdl:part name="parameters" element="impl:faturaIptal" />
  </wsdl:message>
  <wsdl:message name="faturaIptalResponse">
    <wsdl:part name="parameters" element="impl:faturaIptalResponse" />
  </wsdl:message>
  <wsdl:message name="faturaKayitResponse">
    <wsdl:part name="parameters" element="impl:faturaKayitResponse" />
  </wsdl:message>
  <wsdl:message name="faturaOkuResponse">
    <wsdl:part name="parameters" element="impl:faturaOkuResponse" />
  </wsdl:message>
  <wsdl:message name="faturaTutarOkuResponse">
    <wsdl:part name="parameters" element="impl:faturaTutarOkuResponse" />
  </wsdl:message>
  <wsdl:message name="faturaTutarOkuRequest">
    <wsdl:part name="parameters" element="impl:faturaTutarOku" />
  </wsdl:message>
  <wsdl:portType name="FaturaKayitIslemleri">
    <wsdl:operation name="faturaOku">
      <wsdl:input name="faturaOkuRequest" message="impl:faturaOkuRequest" />
      <wsdl:output name="faturaOkuResponse" message="impl:faturaOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="faturaIptal">
      <wsdl:input name="faturaIptalRequest" message="impl:faturaIptalRequest" />
      <wsdl:output name="faturaIptalResponse" message="impl:faturaIptalResponse" />
    </wsdl:operation>
    <wsdl:operation name="faturaKayit">
      <wsdl:input name="faturaKayitRequest" message="impl:faturaKayitRequest" />
      <wsdl:output name="faturaKayitResponse" message="impl:faturaKayitResponse" />
    </wsdl:operation>
    <wsdl:operation name="faturaTutarOku">
      <wsdl:input name="faturaTutarOkuRequest" message="impl:faturaTutarOkuRequest" />
      <wsdl:output name="faturaTutarOkuResponse" message="impl:faturaTutarOkuResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaturaKayitIslemleriSoapBinding" type="impl:FaturaKayitIslemleri">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="faturaOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="faturaOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="faturaOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="faturaIptal">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="faturaIptalRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="faturaIptalResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="faturaKayit">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="faturaKayitRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="faturaKayitResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="faturaTutarOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="faturaTutarOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="faturaTutarOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaturaKayitIslemleriService">
    <wsdl:port name="FaturaKayitIslemleri" binding="impl:FaturaKayitIslemleriSoapBinding">
      <wsdlsoap:address location="http://medula.sgk.gov.tr:9084/medulaws/services/FaturaKayitIslemleri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>