Naz.Hastane.Medula/Service References/YardimciIslemler/YardimciIslemler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://dvo.gss.sgk.gov.tr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servisler.ws.gss.sgk.gov.tr" targetNamespace="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dvo.gss.sgk.gov.tr">
      <xsd:import namespace="http://servisler.ws.gss.sgk.gov.tr" />
      <xsd:complexType name="DoktorAraGirisDVO">
        <xsd:sequence>
          <xsd:element name="drAdi" nillable="true" type="xsd:string" />
          <xsd:element name="drBransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="drDiplomaNo" nillable="true" type="xsd:string" />
          <xsd:element name="drSoyadi" nillable="true" type="xsd:string" />
          <xsd:element name="drTescilNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisiKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DoktorAraCevapDVO">
        <xsd:sequence>
          <xsd:element name="doktorlar" nillable="true" type="impl:ArrayOf_tns2_nillable_DoktorListDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DoktorListDVO">
        <xsd:sequence>
          <xsd:element name="drAdi" nillable="true" type="xsd:string" />
          <xsd:element name="drDiplomaNo" nillable="true" type="xsd:string" />
          <xsd:element name="drSoyadi" nillable="true" type="xsd:string" />
          <xsd:element name="drTescilNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeOkuGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="etkinMaddeler" nillable="true" type="impl:ArrayOf_tns2_nillable_EtkinMaddeDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeDVO">
        <xsd:sequence>
          <xsd:element name="adetMiktar" nillable="true" type="xsd:string" />
          <xsd:element name="etkinMaddeAdi" nillable="true" type="xsd:string" />
          <xsd:element name="etkinMaddeKodu" nillable="true" type="xsd:string" />
          <xsd:element name="form" nillable="true" type="xsd:string" />
          <xsd:element name="icerikMiktari" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipAraGirisDVO">
        <xsd:sequence>
          <xsd:element name="baslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="hastaTCK" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="sevkDurumu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipAraCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipler" nillable="true" type="impl:ArrayOf_tns2_nillable_TakipDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipDVO">
        <xsd:sequence>
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="ilkTakipNo" nillable="true" type="xsd:string" />
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="donorTCKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBilgileri" nillable="true" type="tns2:HastaBilgileriDVO" />
          <xsd:element name="kayitTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTipi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipDurumu" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="takipTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTuru" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="sevkDurumu" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganCocukSiraNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganDogumTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaBilgileriDVO">
        <xsd:sequence>
          <xsd:element name="ad" nillable="true" type="xsd:string" />
          <xsd:element name="cinsiyet" nillable="true" type="xsd:string" />
          <xsd:element name="dogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="soyad" nillable="true" type="xsd:string" />
          <xsd:element name="tcKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="sigortaliTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrneklenmisGirisDVO">
        <xsd:sequence>
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="evrakId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrneklenmisCevapDVO">
        <xsd:sequence>
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipler" nillable="true" type="impl:ArrayOf_xsd_nillable_string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeSUTGirisDVO">
        <xsd:sequence>
          <xsd:element name="etkinMaddeKodu" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisiKodu" type="xsd:int" />
          <xsd:element name="raporTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeSUTCevapDVO">
        <xsd:sequence>
          <xsd:element name="sutKurallari" nillable="true" type="impl:ArrayOf_tns2_nillable_EtkinMaddeSUTKuraliDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EtkinMaddeSUTKuraliDVO">
        <xsd:sequence>
          <xsd:element name="bransKuralUygulama" nillable="true" type="xsd:string" />
          <xsd:element name="duzenlemeTuru" nillable="true" type="xsd:string" />
          <xsd:element name="tesisler" nillable="true" type="impl:ArrayOf_xsd_nillable_string" />
          <xsd:element name="kuralID" type="xsd:int" />
          <xsd:element name="sertifikalar" nillable="true" type="impl:ArrayOf_xsd_nillable_string" />
          <xsd:element name="branslar" nillable="true" type="impl:ArrayOf_tns2_nillable_BransListDVO" />
          <xsd:element name="teshisler" nillable="true" type="impl:ArrayOf_tns2_nillable_TeshisDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BransListDVO">
        <xsd:sequence>
          <xsd:element name="bransAdi" nillable="true" type="xsd:string" />
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeshisDVO">
        <xsd:sequence>
          <xsd:element name="adi" nillable="true" type="xsd:string" />
          <xsd:element name="kodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaglikTesisiAraGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="tesisAdi" nillable="true" type="xsd:string" />
          <xsd:element name="tesisIlKodu" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" nillable="true" type="xsd:string" />
          <xsd:element name="tesisTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaglikTesisiAraCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="tesisler" nillable="true" type="impl:ArrayOf_tns2_nillable_SaglikTesisiListDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaglikTesisiListDVO">
        <xsd:sequence>
          <xsd:element name="tesisIl" nillable="true" type="xsd:string" />
          <xsd:element name="tesisAdi" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="tesisSinifKodu" nillable="true" type="xsd:string" />
          <xsd:element name="tesisTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeshisOkuGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeshisOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="teshisler" nillable="true" type="impl:ArrayOf_tns2_nillable_TeshisDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EvrakKesintiGirisDVO">
        <xsd:sequence>
          <xsd:element name="evrakRefNo" type="xsd:int" />
          <xsd:element name="saglikTesisiKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EvrakKesintiCevapDVO">
        <xsd:sequence>
          <xsd:element name="evrakKesintiIslem" nillable="true" type="impl:ArrayOf_tns2_nillable_EvrakKesintiIslemDVO" />
          <xsd:element name="evrakRefNo" type="xsd:int" />
          <xsd:element name="malzemeKatilimTutari" type="xsd:double" />
          <xsd:element name="muayeneKatilimTutari" type="xsd:double" />
          <xsd:element name="tupBebekKatilimTutari" type="xsd:double" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EvrakKesintiIslemDVO">
        <xsd:sequence>
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="islemAdi" nillable="true" type="xsd:string" />
          <xsd:element name="islemSiraNo" nillable="true" type="xsd:string" />
          <xsd:element name="islemTarihi" nillable="true" type="xsd:dateTime" />
          <xsd:element name="kesintiTutari" type="xsd:double" />
          <xsd:element name="sutKodu" nillable="true" type="xsd:string" />
          <xsd:element name="tutar" type="xsd:double" />
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="grupAdi" nillable="true" type="xsd:string" />
          <xsd:element name="grupTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IlacAraGirisDVO">
        <xsd:sequence>
          <xsd:element name="barkod" nillable="true" type="xsd:string" />
          <xsd:element name="ilacAdi" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IlacAraCevapDVO">
        <xsd:sequence>
          <xsd:element name="ilaclar" nillable="true" type="impl:ArrayOf_tns2_nillable_IlacListDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IlacListDVO">
        <xsd:sequence>
          <xsd:element name="ilacFiyatlari" nillable="true" type="impl:ArrayOf_tns2_nillable_FiyatListDVO" />
          <xsd:element name="kullanimBirimi" type="xsd:double" />
          <xsd:element name="barkod" nillable="true" type="xsd:string" />
          <xsd:element name="ilacAdi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FiyatListDVO">
        <xsd:sequence>
          <xsd:element name="fiyat" type="xsd:double" />
          <xsd:element name="gecerlilikTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servisler.ws.gss.sgk.gov.tr">
      <xsd:import namespace="http://dvo.gss.sgk.gov.tr" />
      <xsd:element name="doktorAraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="doktorAraReturn" nillable="true" type="tns2:DoktorAraCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="etkinMaddeleriOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="girisDVO" nillable="true" type="tns2:EtkinMaddeOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="etkinMaddeleriOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="etkinMaddeleriOkuReturn" nillable="true" type="tns2:EtkinMaddeOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipAra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipAraGiris" nillable="true" type="tns2:TakipAraGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipAraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipAraReturn" nillable="true" type="tns2:TakipAraCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOrneklenmisTakipler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orneklenmisGiris" nillable="true" type="tns2:OrneklenmisGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOrneklenmisTakiplerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getOrneklenmisTakiplerReturn" nillable="true" type="tns2:OrneklenmisCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="etkinMaddeSutKuraliGetir">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="girisDVO" nillable="true" type="tns2:EtkinMaddeSUTGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="etkinMaddeSutKuraliGetirResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="etkinMaddeSutKuraliGetirReturn" nillable="true" type="tns2:EtkinMaddeSUTCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saglikTesisiAra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="saglikTesisiAraGiris" nillable="true" type="tns2:SaglikTesisiAraGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saglikTesisiAraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="saglikTesisiAraReturn" nillable="true" type="tns2:SaglikTesisiAraCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="teshisleriOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="girisDVO" nillable="true" type="tns2:TeshisOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="teshisleriOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="teshisleriOkuReturn" nillable="true" type="tns2:TeshisOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="kesintiYapilmisIslemler">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="evrakKesintiGiris" nillable="true" type="tns2:EvrakKesintiGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="kesintiYapilmisIslemlerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="kesintiYapilmisIslemlerReturn" nillable="true" type="tns2:EvrakKesintiCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ilacAra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ilacAraGiris" nillable="true" type="tns2:IlacAraGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ilacAraResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ilacAraReturn" nillable="true" type="tns2:IlacAraCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doktorAra">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="doktorAraGiris" nillable="true" type="tns2:DoktorAraGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns2_nillable_DoktorListDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DoktorListDVO" nillable="true" type="tns2:DoktorListDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_EtkinMaddeDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EtkinMaddeDVO" nillable="true" type="tns2:EtkinMaddeDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_TakipDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TakipDVO" nillable="true" type="tns2:TakipDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_nillable_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_BransListDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BransListDVO" nillable="true" type="tns2:BransListDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_TeshisDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TeshisDVO" nillable="true" type="tns2:TeshisDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_EtkinMaddeSUTKuraliDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EtkinMaddeSUTKuraliDVO" nillable="true" type="tns2:EtkinMaddeSUTKuraliDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_SaglikTesisiListDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SaglikTesisiListDVO" nillable="true" type="tns2:SaglikTesisiListDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_EvrakKesintiIslemDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EvrakKesintiIslemDVO" nillable="true" type="tns2:EvrakKesintiIslemDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FiyatListDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="FiyatListDVO" nillable="true" type="tns2:FiyatListDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_IlacListDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IlacListDVO" nillable="true" type="tns2:IlacListDVO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ilacAraRequest">
    <wsdl:part name="parameters" element="impl:ilacAra" />
  </wsdl:message>
  <wsdl:message name="etkinMaddeleriOkuResponse">
    <wsdl:part name="parameters" element="impl:etkinMaddeleriOkuResponse" />
  </wsdl:message>
  <wsdl:message name="saglikTesisiAraResponse">
    <wsdl:part name="parameters" element="impl:saglikTesisiAraResponse" />
  </wsdl:message>
  <wsdl:message name="doktorAraRequest">
    <wsdl:part name="parameters" element="impl:doktorAra" />
  </wsdl:message>
  <wsdl:message name="ilacAraResponse">
    <wsdl:part name="parameters" element="impl:ilacAraResponse" />
  </wsdl:message>
  <wsdl:message name="teshisleriOkuResponse">
    <wsdl:part name="parameters" element="impl:teshisleriOkuResponse" />
  </wsdl:message>
  <wsdl:message name="teshisleriOkuRequest">
    <wsdl:part name="parameters" element="impl:teshisleriOku" />
  </wsdl:message>
  <wsdl:message name="etkinMaddeleriOkuRequest">
    <wsdl:part name="parameters" element="impl:etkinMaddeleriOku" />
  </wsdl:message>
  <wsdl:message name="takipAraResponse">
    <wsdl:part name="parameters" element="impl:takipAraResponse" />
  </wsdl:message>
  <wsdl:message name="getOrneklenmisTakiplerResponse">
    <wsdl:part name="parameters" element="impl:getOrneklenmisTakiplerResponse" />
  </wsdl:message>
  <wsdl:message name="etkinMaddeSutKuraliGetirRequest">
    <wsdl:part name="parameters" element="impl:etkinMaddeSutKuraliGetir" />
  </wsdl:message>
  <wsdl:message name="takipAraRequest">
    <wsdl:part name="parameters" element="impl:takipAra" />
  </wsdl:message>
  <wsdl:message name="getOrneklenmisTakiplerRequest">
    <wsdl:part name="parameters" element="impl:getOrneklenmisTakipler" />
  </wsdl:message>
  <wsdl:message name="kesintiYapilmisIslemlerRequest">
    <wsdl:part name="parameters" element="impl:kesintiYapilmisIslemler" />
  </wsdl:message>
  <wsdl:message name="saglikTesisiAraRequest">
    <wsdl:part name="parameters" element="impl:saglikTesisiAra" />
  </wsdl:message>
  <wsdl:message name="doktorAraResponse">
    <wsdl:part name="parameters" element="impl:doktorAraResponse" />
  </wsdl:message>
  <wsdl:message name="etkinMaddeSutKuraliGetirResponse">
    <wsdl:part name="parameters" element="impl:etkinMaddeSutKuraliGetirResponse" />
  </wsdl:message>
  <wsdl:message name="kesintiYapilmisIslemlerResponse">
    <wsdl:part name="parameters" element="impl:kesintiYapilmisIslemlerResponse" />
  </wsdl:message>
  <wsdl:portType name="YardimciIslemler">
    <wsdl:operation name="doktorAra">
      <wsdl:input name="doktorAraRequest" message="impl:doktorAraRequest" />
      <wsdl:output name="doktorAraResponse" message="impl:doktorAraResponse" />
    </wsdl:operation>
    <wsdl:operation name="etkinMaddeleriOku">
      <wsdl:input name="etkinMaddeleriOkuRequest" message="impl:etkinMaddeleriOkuRequest" />
      <wsdl:output name="etkinMaddeleriOkuResponse" message="impl:etkinMaddeleriOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="takipAra">
      <wsdl:input name="takipAraRequest" message="impl:takipAraRequest" />
      <wsdl:output name="takipAraResponse" message="impl:takipAraResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOrneklenmisTakipler">
      <wsdl:input name="getOrneklenmisTakiplerRequest" message="impl:getOrneklenmisTakiplerRequest" />
      <wsdl:output name="getOrneklenmisTakiplerResponse" message="impl:getOrneklenmisTakiplerResponse" />
    </wsdl:operation>
    <wsdl:operation name="etkinMaddeSutKuraliGetir">
      <wsdl:input name="etkinMaddeSutKuraliGetirRequest" message="impl:etkinMaddeSutKuraliGetirRequest" />
      <wsdl:output name="etkinMaddeSutKuraliGetirResponse" message="impl:etkinMaddeSutKuraliGetirResponse" />
    </wsdl:operation>
    <wsdl:operation name="saglikTesisiAra">
      <wsdl:input name="saglikTesisiAraRequest" message="impl:saglikTesisiAraRequest" />
      <wsdl:output name="saglikTesisiAraResponse" message="impl:saglikTesisiAraResponse" />
    </wsdl:operation>
    <wsdl:operation name="teshisleriOku">
      <wsdl:input name="teshisleriOkuRequest" message="impl:teshisleriOkuRequest" />
      <wsdl:output name="teshisleriOkuResponse" message="impl:teshisleriOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="kesintiYapilmisIslemler">
      <wsdl:input name="kesintiYapilmisIslemlerRequest" message="impl:kesintiYapilmisIslemlerRequest" />
      <wsdl:output name="kesintiYapilmisIslemlerResponse" message="impl:kesintiYapilmisIslemlerResponse" />
    </wsdl:operation>
    <wsdl:operation name="ilacAra">
      <wsdl:input name="ilacAraRequest" message="impl:ilacAraRequest" />
      <wsdl:output name="ilacAraResponse" message="impl:ilacAraResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YardimciIslemlerSoapBinding" type="impl:YardimciIslemler">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doktorAra">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="doktorAraRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doktorAraResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="etkinMaddeleriOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="etkinMaddeleriOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="etkinMaddeleriOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takipAra">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="takipAraRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="takipAraResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrneklenmisTakipler">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getOrneklenmisTakiplerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOrneklenmisTakiplerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="etkinMaddeSutKuraliGetir">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="etkinMaddeSutKuraliGetirRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="etkinMaddeSutKuraliGetirResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saglikTesisiAra">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="saglikTesisiAraRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saglikTesisiAraResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teshisleriOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="teshisleriOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="teshisleriOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kesintiYapilmisIslemler">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="kesintiYapilmisIslemlerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kesintiYapilmisIslemlerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ilacAra">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ilacAraRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ilacAraResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YardimciIslemlerService">
    <wsdl:port name="YardimciIslemler" binding="impl:YardimciIslemlerSoapBinding">
      <wsdlsoap:address location="http://medula.sgk.gov.tr:9086/medulaws/services/YardimciIslemler" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>