Naz.Hastane.Medula/Web References/HastaKabulIslemleriWeb/HastaKabulIslemleri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://dvo.gss.sgk.gov.tr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servisler.ws.gss.sgk.gov.tr" targetNamespace="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dvo.gss.sgk.gov.tr">
      <xsd:complexType name="HastaYatisOkuDVO">
        <xsd:sequence>
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaYatisOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="donorTck" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganCocukSiraNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganDogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="basvuruYatisBilgileri" nillable="true" type="tns2:ArrayOfBasvuruYatisBilgileriDVO" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisiKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasvuruYatisBilgileriDVO">
        <xsd:sequence>
          <xsd:element name="baslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="durum" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBasvuruYatisBilgileriDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BasvuruYatisBilgileriDVO" nillable="true" type="tns2:BasvuruYatisBilgileriDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvizyonDegistirGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniProvizyonTipi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvizyonDegistirCevapDVO">
        <xsd:sequence>
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniProvizyonTipi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipSilGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipSilCevapDVO">
        <xsd:sequence>
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaCikisIptalDVO">
        <xsd:sequence>
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaCikisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yeniHastaCikisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaCikisCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="yatisBaslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yatisBitisTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipOkuGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniTedaviTipi" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipDVO">
        <xsd:sequence>
          <xsd:element name="faturaTeslimNo" nillable="true" type="xsd:string" />
          <xsd:element name="ilkTakipNo" nillable="true" type="xsd:string" />
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="donorTCKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBilgileri" nillable="true" type="tns2:HastaBilgileriDVO" />
          <xsd:element name="kayitTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTipi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipDurumu" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="takipTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTuru" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="sevkDurumu" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganCocukSiraNo" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganDogumTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaBilgileriDVO">
        <xsd:sequence>
          <xsd:element name="ad" nillable="true" type="xsd:string" />
          <xsd:element name="cinsiyet" nillable="true" type="xsd:string" />
          <xsd:element name="dogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="soyad" nillable="true" type="xsd:string" />
          <xsd:element name="tcKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="sigortaliTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvizyonGirisKdsDVO">
        <xsd:sequence>
          <xsd:element name="aileHekimiKDB" type="xsd:base64Binary" />
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="devredilenKurum" nillable="true" type="xsd:string" />
          <xsd:element name="donorTCKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaKDB" type="xsd:base64Binary" />
          <xsd:element name="provizyonTipi" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="sigortaliTuru" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTuru" nillable="true" type="xsd:string" />
          <xsd:element name="yatisBitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganBilgisi" nillable="true" type="tns2:YeniDoganBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="YeniDoganBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="cocukSira" type="xsd:int" />
          <xsd:element name="dogumTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvizyonCevapDVO">
        <xsd:sequence>
          <xsd:element name="sigortaliAdliGecmisi" nillable="true" type="tns2:ArrayOfSigortaliAdliGecmisDVO" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaBilgileri" nillable="true" type="tns2:HastaBilgileriDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SigortaliAdliGecmisDVO">
        <xsd:sequence>
          <xsd:element name="provTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="provTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tckNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSigortaliAdliGecmisDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SigortaliAdliGecmisDVO" nillable="true" type="tns2:SigortaliAdliGecmisDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaCikisDVO">
        <xsd:sequence>
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaCikisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProvizyonGirisDVO">
        <xsd:sequence>
          <xsd:element name="yakinlikKodu" nillable="true" type="xsd:string" />
          <xsd:element name="yatisBitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="devredilenKurum" nillable="true" type="xsd:string" />
          <xsd:element name="donorTCKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="hastaTCKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTipi" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="sigortaliTuru" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="takipTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTipi" nillable="true" type="xsd:string" />
          <xsd:element name="tedaviTuru" nillable="true" type="xsd:string" />
          <xsd:element name="yeniDoganBilgisi" nillable="true" type="tns2:YeniDoganBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasvuruTakipOkuDVO">
        <xsd:sequence>
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasvuruTakipOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="basvuruTakip" nillable="true" type="tns2:ArrayOfBasvuruTakipDVO" />
          <xsd:element name="hastaBasvuruNo" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasvuruTakipDVO">
        <xsd:sequence>
          <xsd:element name="takipFaturaDurumu" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBasvuruTakipDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BasvuruTakipDVO" nillable="true" type="tns2:BasvuruTakipDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SevkBildirGirisDVO">
        <xsd:sequence>
          <xsd:element name="sevkEdilisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SevkBildirSonucDVO">
        <xsd:sequence>
          <xsd:element name="sevkEdilisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servisler.ws.gss.sgk.gov.tr">
      <xsd:import namespace="http://dvo.gss.sgk.gov.tr" />
      <xsd:element name="hastaYatisOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaYatisOkuReturn" nillable="true" type="tns2:HastaYatisOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProvizyonTipi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="provizyonDegistirDVO" nillable="true" type="tns2:ProvizyonDegistirGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateProvizyonTipiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateProvizyonTipiReturn" nillable="true" type="tns2:ProvizyonDegistirCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulIptal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipSilGiris" nillable="true" type="tns2:TakipSilGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulIptalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaKabulIptalReturn" nillable="true" type="tns2:TakipSilCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaCikisIptal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaCikisIptal" nillable="true" type="tns2:HastaCikisIptalDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaCikisIptalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaCikisIptalReturn" nillable="true" type="tns2:HastaCikisCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTedaviTipi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipOkuDVO" nillable="true" type="tns2:TakipOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTedaviTipiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateTedaviTipiReturn" nillable="true" type="tns2:TakipDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulAileHekimiKDS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="provizyonGiris" nillable="true" type="tns2:ProvizyonGirisKdsDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulAileHekimiKDSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaKabulAileHekimiKDSReturn" nillable="true" type="tns2:ProvizyonCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulKDS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="provizyonGiris" nillable="true" type="tns2:ProvizyonGirisKdsDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulKDSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaKabulKDSReturn" nillable="true" type="tns2:ProvizyonCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaCikisKayit">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaCikis" nillable="true" type="tns2:HastaCikisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaCikisKayitResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaCikisKayitReturn" nillable="true" type="tns2:HastaCikisCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabul">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="provizyonGiris" nillable="true" type="tns2:ProvizyonGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaKabulReturn" nillable="true" type="tns2:ProvizyonCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="basvuruTakipOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="basvuruTakipOkuDVO" nillable="true" type="tns2:BasvuruTakipOkuDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="basvuruTakipOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="basvuruTakipOkuReturn" nillable="true" type="tns2:BasvuruTakipOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sevkBildir">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sevkBildirGiris" nillable="true" type="tns2:SevkBildirGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sevkBildirResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sevkBildirReturn" nillable="true" type="tns2:SevkBildirSonucDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipOkuGiris" nillable="true" type="tns2:TakipOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaKabulOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaKabulOkuReturn" nillable="true" type="tns2:TakipDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hastaYatisOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hastaYatisOkuDVO" nillable="true" type="tns2:HastaYatisOkuDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateProvizyonTipiResponse">
    <wsdl:part name="parameters" element="impl:updateProvizyonTipiResponse" />
  </wsdl:message>
  <wsdl:message name="sevkBildirResponse">
    <wsdl:part name="parameters" element="impl:sevkBildirResponse" />
  </wsdl:message>
  <wsdl:message name="updateProvizyonTipiRequest">
    <wsdl:part name="parameters" element="impl:updateProvizyonTipi" />
  </wsdl:message>
  <wsdl:message name="updateTedaviTipiRequest">
    <wsdl:part name="parameters" element="impl:updateTedaviTipi" />
  </wsdl:message>
  <wsdl:message name="hastaKabulKDSResponse">
    <wsdl:part name="parameters" element="impl:hastaKabulKDSResponse" />
  </wsdl:message>
  <wsdl:message name="hastaKabulOkuRequest">
    <wsdl:part name="parameters" element="impl:hastaKabulOku" />
  </wsdl:message>
  <wsdl:message name="basvuruTakipOkuResponse">
    <wsdl:part name="parameters" element="impl:basvuruTakipOkuResponse" />
  </wsdl:message>
  <wsdl:message name="hastaKabulAileHekimiKDSRequest">
    <wsdl:part name="parameters" element="impl:hastaKabulAileHekimiKDS" />
  </wsdl:message>
  <wsdl:message name="updateTedaviTipiResponse">
    <wsdl:part name="parameters" element="impl:updateTedaviTipiResponse" />
  </wsdl:message>
  <wsdl:message name="hastaKabulIptalResponse">
    <wsdl:part name="parameters" element="impl:hastaKabulIptalResponse" />
  </wsdl:message>
  <wsdl:message name="hastaCikisKayitRequest">
    <wsdl:part name="parameters" element="impl:hastaCikisKayit" />
  </wsdl:message>
  <wsdl:message name="hastaKabulAileHekimiKDSResponse">
    <wsdl:part name="parameters" element="impl:hastaKabulAileHekimiKDSResponse" />
  </wsdl:message>
  <wsdl:message name="hastaCikisIptalResponse">
    <wsdl:part name="parameters" element="impl:hastaCikisIptalResponse" />
  </wsdl:message>
  <wsdl:message name="hastaYatisOkuRequest">
    <wsdl:part name="parameters" element="impl:hastaYatisOku" />
  </wsdl:message>
  <wsdl:message name="sevkBildirRequest">
    <wsdl:part name="parameters" element="impl:sevkBildir" />
  </wsdl:message>
  <wsdl:message name="hastaYatisOkuResponse">
    <wsdl:part name="parameters" element="impl:hastaYatisOkuResponse" />
  </wsdl:message>
  <wsdl:message name="hastaKabulKDSRequest">
    <wsdl:part name="parameters" element="impl:hastaKabulKDS" />
  </wsdl:message>
  <wsdl:message name="hastaKabulIptalRequest">
    <wsdl:part name="parameters" element="impl:hastaKabulIptal" />
  </wsdl:message>
  <wsdl:message name="hastaKabulRequest">
    <wsdl:part name="parameters" element="impl:hastaKabul" />
  </wsdl:message>
  <wsdl:message name="hastaKabulResponse">
    <wsdl:part name="parameters" element="impl:hastaKabulResponse" />
  </wsdl:message>
  <wsdl:message name="hastaKabulOkuResponse">
    <wsdl:part name="parameters" element="impl:hastaKabulOkuResponse" />
  </wsdl:message>
  <wsdl:message name="hastaCikisKayitResponse">
    <wsdl:part name="parameters" element="impl:hastaCikisKayitResponse" />
  </wsdl:message>
  <wsdl:message name="basvuruTakipOkuRequest">
    <wsdl:part name="parameters" element="impl:basvuruTakipOku" />
  </wsdl:message>
  <wsdl:message name="hastaCikisIptalRequest">
    <wsdl:part name="parameters" element="impl:hastaCikisIptal" />
  </wsdl:message>
  <wsdl:portType name="HastaKabulIslemleri">
    <wsdl:operation name="hastaYatisOku">
      <wsdl:input name="hastaYatisOkuRequest" message="impl:hastaYatisOkuRequest" />
      <wsdl:output name="hastaYatisOkuResponse" message="impl:hastaYatisOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateProvizyonTipi">
      <wsdl:input name="updateProvizyonTipiRequest" message="impl:updateProvizyonTipiRequest" />
      <wsdl:output name="updateProvizyonTipiResponse" message="impl:updateProvizyonTipiResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaKabulIptal">
      <wsdl:input name="hastaKabulIptalRequest" message="impl:hastaKabulIptalRequest" />
      <wsdl:output name="hastaKabulIptalResponse" message="impl:hastaKabulIptalResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaCikisIptal">
      <wsdl:input name="hastaCikisIptalRequest" message="impl:hastaCikisIptalRequest" />
      <wsdl:output name="hastaCikisIptalResponse" message="impl:hastaCikisIptalResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTedaviTipi">
      <wsdl:input name="updateTedaviTipiRequest" message="impl:updateTedaviTipiRequest" />
      <wsdl:output name="updateTedaviTipiResponse" message="impl:updateTedaviTipiResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaKabulAileHekimiKDS">
      <wsdl:input name="hastaKabulAileHekimiKDSRequest" message="impl:hastaKabulAileHekimiKDSRequest" />
      <wsdl:output name="hastaKabulAileHekimiKDSResponse" message="impl:hastaKabulAileHekimiKDSResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaKabulKDS">
      <wsdl:input name="hastaKabulKDSRequest" message="impl:hastaKabulKDSRequest" />
      <wsdl:output name="hastaKabulKDSResponse" message="impl:hastaKabulKDSResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaCikisKayit">
      <wsdl:input name="hastaCikisKayitRequest" message="impl:hastaCikisKayitRequest" />
      <wsdl:output name="hastaCikisKayitResponse" message="impl:hastaCikisKayitResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaKabul">
      <wsdl:input name="hastaKabulRequest" message="impl:hastaKabulRequest" />
      <wsdl:output name="hastaKabulResponse" message="impl:hastaKabulResponse" />
    </wsdl:operation>
    <wsdl:operation name="basvuruTakipOku">
      <wsdl:input name="basvuruTakipOkuRequest" message="impl:basvuruTakipOkuRequest" />
      <wsdl:output name="basvuruTakipOkuResponse" message="impl:basvuruTakipOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="sevkBildir">
      <wsdl:input name="sevkBildirRequest" message="impl:sevkBildirRequest" />
      <wsdl:output name="sevkBildirResponse" message="impl:sevkBildirResponse" />
    </wsdl:operation>
    <wsdl:operation name="hastaKabulOku">
      <wsdl:input name="hastaKabulOkuRequest" message="impl:hastaKabulOkuRequest" />
      <wsdl:output name="hastaKabulOkuResponse" message="impl:hastaKabulOkuResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HastaKabulIslemleriSoapBinding" type="impl:HastaKabulIslemleri">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="hastaYatisOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaYatisOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaYatisOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProvizyonTipi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateProvizyonTipiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateProvizyonTipiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaKabulIptal">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaKabulIptalRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaKabulIptalResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaCikisIptal">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaCikisIptalRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaCikisIptalResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTedaviTipi">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateTedaviTipiRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateTedaviTipiResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaKabulAileHekimiKDS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaKabulAileHekimiKDSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaKabulAileHekimiKDSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaKabulKDS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaKabulKDSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaKabulKDSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaCikisKayit">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaCikisKayitRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaCikisKayitResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaKabul">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaKabulRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaKabulResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="basvuruTakipOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="basvuruTakipOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="basvuruTakipOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sevkBildir">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sevkBildirRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sevkBildirResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hastaKabulOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hastaKabulOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hastaKabulOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HastaKabulIslemleriService">
    <wsdl:port name="HastaKabulIslemleri" binding="impl:HastaKabulIslemleriSoapBinding">
      <wsdlsoap:address location="http://medula.sgk.gov.tr:80/medulaws/services/HastaKabulIslemleri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>