Naz.Hastane.Medula/Service References/TakipFormuIslemleri/TakipFormuIslemleri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://takipFormu.rapor.dvo.gss.sgk.gov.tr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servisler.ws.gss.sgk.gov.tr" targetNamespace="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://takipFormu.rapor.dvo.gss.sgk.gov.tr">
      <xsd:complexType name="TakipFormuOkuGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="tcKimlikNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuOkuCevapDVO">
        <xsd:sequence>
          <xsd:element name="diabetTakipFormlari" nillable="true" type="tns2:ArrayOfDiabetTakipFormuDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DiabetTakipFormuDVO">
        <xsd:sequence>
          <xsd:element name="ad" nillable="true" type="xsd:string" />
          <xsd:element name="akutKomplikasyon" type="xsd:int" />
          <xsd:element name="aliskanliklar" nillable="true" type="tns2:ArrayOfTakipFormuAliskanlikDVO" />
          <xsd:element name="alt" type="xsd:double" />
          <xsd:element name="antiGAD" nillable="true" type="xsd:string" />
          <xsd:element name="apg" type="xsd:double" />
          <xsd:element name="ayakMuayenesi" nillable="true" type="xsd:string" />
          <xsd:element name="basvuruNedeni" type="xsd:int" />
          <xsd:element name="boy" type="xsd:double" />
          <xsd:element name="cepTel" nillable="true" type="xsd:string" />
          <xsd:element name="cinsiyet" nillable="true" type="xsd:string" />
          <xsd:element name="doktorBilgileri" nillable="true" type="tns2:ArrayOfTakipFormuDoktorBilgisiDVO" />
          <xsd:element name="egzersiz" type="xsd:int" />
          <xsd:element name="ekg" type="xsd:int" />
          <xsd:element name="gozMuayenesi" type="xsd:int" />
          <xsd:element name="hastaliklar" nillable="true" type="tns2:ArrayOfTakipFormuHastalikDVO" />
          <xsd:element name="hbA1c" type="xsd:double" />
          <xsd:element name="hdlKol" type="xsd:double" />
          <xsd:element name="ikametTuru" type="xsd:int" />
          <xsd:element name="diyastolikKanBasinci" type="xsd:int" />
          <xsd:element name="sistolikKanBasinci" type="xsd:int" />
          <xsd:element name="kanSekeriTakipSayisi" type="xsd:int" />
          <xsd:element name="kilo" type="xsd:double" />
          <xsd:element name="koronerArterH" nillable="true" type="xsd:string" />
          <xsd:element name="kreatinin" type="xsd:double" />
          <xsd:element name="kullanilanIlaclar" nillable="true" type="tns2:ArrayOfTakipFormuKullanilanIlaclarDVO" />
          <xsd:element name="ldlKol" type="xsd:double" />
          <xsd:element name="mikroalbuminuri" nillable="true" type="xsd:string" />
          <xsd:element name="periferikSensoryal" nillable="true" type="xsd:string" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="serebrovaskulerH" nillable="true" type="xsd:string" />
          <xsd:element name="soyad" nillable="true" type="xsd:string" />
          <xsd:element name="taniKodu" nillable="true" type="xsd:string" />
          <xsd:element name="taniTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="diabetEgitimi" nillable="true" type="tns2:TakipFormuDiabetEgitimiDVO" />
          <xsd:element name="tcKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="tpg" type="xsd:double" />
          <xsd:element name="trigliserid" type="xsd:double" />
          <xsd:element name="vizitTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="vki" type="xsd:double" />
          <xsd:element name="yatisGun" type="xsd:int" />
          <xsd:element name="tibbiBeslenmeTedavisi" type="xsd:int" />
          <xsd:element name="takipFormuNo" nillable="true" type="xsd:string" />
          <xsd:element name="glukoMetre" nillable="true" type="xsd:string" />
          <xsd:element name="insulinPompasi" nillable="true" type="xsd:string" />
          <xsd:element name="insulinPompasiDegTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="insulinPompasiVerTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuAliskanlikDVO">
        <xsd:sequence>
          <xsd:element name="aliskanlik" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTakipFormuAliskanlikDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TakipFormuAliskanlikDVO" nillable="true" type="tns2:TakipFormuAliskanlikDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuDoktorBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="drTescilNo" nillable="true" type="xsd:string" />
          <xsd:element name="dmEgitimiAlmisMi" nillable="true" type="xsd:string" />
          <xsd:element name="drBransKodu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTakipFormuDoktorBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TakipFormuDoktorBilgisiDVO" nillable="true" type="tns2:TakipFormuDoktorBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuHastalikDVO">
        <xsd:sequence>
          <xsd:element name="digerHastalikTaniKodu" nillable="true" type="xsd:string" />
          <xsd:element name="hastalikKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTakipFormuHastalikDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TakipFormuHastalikDVO" nillable="true" type="tns2:TakipFormuHastalikDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuKullanilanIlaclarDVO">
        <xsd:sequence>
          <xsd:element name="barkod" nillable="true" type="xsd:string" />
          <xsd:element name="gunlukDoz" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTakipFormuKullanilanIlaclarDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TakipFormuKullanilanIlaclarDVO" nillable="true" type="tns2:TakipFormuKullanilanIlaclarDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuDiabetEgitimiDVO">
        <xsd:sequence>
          <xsd:element name="bireyselEgitimSayisi" type="xsd:int" />
          <xsd:element name="dmEgitimiAlmisMi" nillable="true" type="xsd:string" />
          <xsd:element name="grupEgitimiSayisi" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDiabetTakipFormuDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DiabetTakipFormuDVO" nillable="true" type="tns2:DiabetTakipFormuDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuKaydetGirisDVO">
        <xsd:sequence>
          <xsd:element name="diabetTakipFormu" nillable="true" type="tns2:DiabetTakipFormuKayitDVO" />
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DiabetTakipFormuKayitDVO">
        <xsd:sequence>
          <xsd:element name="ad" nillable="true" type="xsd:string" />
          <xsd:element name="akutKomplikasyon" type="xsd:int" />
          <xsd:element name="aliskanliklar" nillable="true" type="tns2:ArrayOfTakipFormuAliskanlikDVO" />
          <xsd:element name="alt" type="xsd:double" />
          <xsd:element name="antiGAD" nillable="true" type="xsd:string" />
          <xsd:element name="apg" type="xsd:double" />
          <xsd:element name="ayakMuayenesi" nillable="true" type="xsd:string" />
          <xsd:element name="basvuruNedeni" type="xsd:int" />
          <xsd:element name="boy" type="xsd:double" />
          <xsd:element name="cepTel" nillable="true" type="xsd:string" />
          <xsd:element name="cinsiyet" nillable="true" type="xsd:string" />
          <xsd:element name="doktorBilgileri" nillable="true" type="tns2:ArrayOfTakipFormuDoktorBilgisiDVO" />
          <xsd:element name="egzersiz" type="xsd:int" />
          <xsd:element name="ekg" type="xsd:int" />
          <xsd:element name="gozMuayenesi" type="xsd:int" />
          <xsd:element name="hastaliklar" nillable="true" type="tns2:ArrayOfTakipFormuHastalikDVO" />
          <xsd:element name="hbA1c" type="xsd:double" />
          <xsd:element name="hdlKol" type="xsd:double" />
          <xsd:element name="ikametTuru" type="xsd:int" />
          <xsd:element name="diyastolikKanBasinci" type="xsd:int" />
          <xsd:element name="sistolikKanBasinci" type="xsd:int" />
          <xsd:element name="kanSekeriTakipSayisi" type="xsd:int" />
          <xsd:element name="kilo" type="xsd:double" />
          <xsd:element name="koronerArterH" nillable="true" type="xsd:string" />
          <xsd:element name="kreatinin" type="xsd:double" />
          <xsd:element name="kullanilanIlaclar" nillable="true" type="tns2:ArrayOfTakipFormuKullanilanIlaclarDVO" />
          <xsd:element name="ldlKol" type="xsd:double" />
          <xsd:element name="mikroalbuminuri" nillable="true" type="xsd:string" />
          <xsd:element name="periferikSensoryal" nillable="true" type="xsd:string" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="serebrovaskulerH" nillable="true" type="xsd:string" />
          <xsd:element name="soyad" nillable="true" type="xsd:string" />
          <xsd:element name="taniKodu" nillable="true" type="xsd:string" />
          <xsd:element name="taniTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="diabetEgitimi" nillable="true" type="tns2:TakipFormuDiabetEgitimiDVO" />
          <xsd:element name="tcKimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="tpg" type="xsd:double" />
          <xsd:element name="trigliserid" type="xsd:double" />
          <xsd:element name="vizitTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="vki" type="xsd:double" />
          <xsd:element name="yatisGun" type="xsd:int" />
          <xsd:element name="tibbiBeslenmeTedavisi" type="xsd:int" />
          <xsd:element name="insulinPompasiDegTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="insulinPompasi" nillable="true" type="xsd:string" />
          <xsd:element name="insulinPompasiVerTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="glukoMetre" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuKaydetCevapDVO">
        <xsd:sequence>
          <xsd:element name="diabetTakipFormu" nillable="true" type="tns2:DiabetTakipFormuDVO" />
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuSilGirisDVO">
        <xsd:sequence>
          <xsd:element name="saglikTesisKodu" type="xsd:int" />
          <xsd:element name="takipFormuNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TakipFormuSilCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucKodu" nillable="true" type="xsd:string" />
          <xsd:element name="sonucMesaji" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servisler.ws.gss.sgk.gov.tr">
      <xsd:import namespace="http://takipFormu.rapor.dvo.gss.sgk.gov.tr" />
      <xsd:element name="takipFormuOkuResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuOkuReturn" nillable="true" type="tns2:TakipFormuOkuCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipFormuKaydet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuGiris" nillable="true" type="tns2:TakipFormuKaydetGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipFormuKaydetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuKaydetReturn" nillable="true" type="tns2:TakipFormuKaydetCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipFormuSil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuSilGiris" nillable="true" type="tns2:TakipFormuSilGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipFormuSilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuSilReturn" nillable="true" type="tns2:TakipFormuSilCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipFormuOku">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipFormuOkuGiris" nillable="true" type="tns2:TakipFormuOkuGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="takipFormuOkuResponse">
    <wsdl:part name="parameters" element="impl:takipFormuOkuResponse" />
  </wsdl:message>
  <wsdl:message name="takipFormuSilRequest">
    <wsdl:part name="parameters" element="impl:takipFormuSil" />
  </wsdl:message>
  <wsdl:message name="takipFormuKaydetResponse">
    <wsdl:part name="parameters" element="impl:takipFormuKaydetResponse" />
  </wsdl:message>
  <wsdl:message name="takipFormuKaydetRequest">
    <wsdl:part name="parameters" element="impl:takipFormuKaydet" />
  </wsdl:message>
  <wsdl:message name="takipFormuSilResponse">
    <wsdl:part name="parameters" element="impl:takipFormuSilResponse" />
  </wsdl:message>
  <wsdl:message name="takipFormuOkuRequest">
    <wsdl:part name="parameters" element="impl:takipFormuOku" />
  </wsdl:message>
  <wsdl:portType name="TakipFormuIslemleri">
    <wsdl:operation name="takipFormuOku">
      <wsdl:input name="takipFormuOkuRequest" message="impl:takipFormuOkuRequest" />
      <wsdl:output name="takipFormuOkuResponse" message="impl:takipFormuOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="takipFormuKaydet">
      <wsdl:input name="takipFormuKaydetRequest" message="impl:takipFormuKaydetRequest" />
      <wsdl:output name="takipFormuKaydetResponse" message="impl:takipFormuKaydetResponse" />
    </wsdl:operation>
    <wsdl:operation name="takipFormuSil">
      <wsdl:input name="takipFormuSilRequest" message="impl:takipFormuSilRequest" />
      <wsdl:output name="takipFormuSilResponse" message="impl:takipFormuSilResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TakipFormuIslemleriSoapBinding" type="impl:TakipFormuIslemleri">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="takipFormuOku">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="takipFormuOkuRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="takipFormuOkuResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takipFormuKaydet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="takipFormuKaydetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="takipFormuKaydetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takipFormuSil">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="takipFormuSilRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="takipFormuSilResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TakipFormuIslemleriService">
    <wsdl:port name="TakipFormuIslemleri" binding="impl:TakipFormuIslemleriSoapBinding">
      <wsdlsoap:address location="http://medula.sgk.gov.tr:9089/medulaws/services/TakipFormuIslemleri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>