Naz.Hastane.Medula/Web References/RaporIslemleriWeb/RaporIslemleri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:tns2="http://rapor.dvo.gss.sgk.gov.tr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://servisler.ws.gss.sgk.gov.tr" targetNamespace="http://servisler.ws.gss.sgk.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rapor.dvo.gss.sgk.gov.tr">
      <xsd:import namespace="http://servisler.ws.gss.sgk.gov.tr" />
      <xsd:complexType name="IlacRaporDuzeltDVO">
        <xsd:sequence>
          <xsd:element name="drTescilNo" nillable="true" type="xsd:string" />
          <xsd:element name="duzeltmeBilgisi" nillable="true" type="xsd:string" />
          <xsd:element name="duzeltmeTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="raporNo" nillable="true" type="xsd:string" />
          <xsd:element name="raporTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="raporTuru" nillable="true" type="xsd:string" />
          <xsd:element name="tesisKodu" type="xsd:int" />
          <xsd:element name="raporEtkinMaddeler" nillable="true" type="impl:ArrayOf_tns2_nillable_RaporEtkinMaddeDVO" />
          <xsd:element name="tanilar" nillable="true" type="impl:ArrayOf_tns2_nillable_TaniBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporEtkinMaddeDVO">
        <xsd:sequence>
          <xsd:element name="etkinMaddeKodu" nillable="true" type="xsd:string" />
          <xsd:element name="kullanimDoz1" type="xsd:int" />
          <xsd:element name="kullanimDoz2" type="xsd:int" />
          <xsd:element name="kullanimDozBirim" nillable="true" type="xsd:string" />
          <xsd:element name="kullanimPeriyot" type="xsd:int" />
          <xsd:element name="kullanimPeriyotBirim" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TaniBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="taniKodu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporCevapDVO">
        <xsd:sequence>
          <xsd:element name="raporTakipNo" type="xsd:long" />
          <xsd:element name="analikRapor" nillable="true" type="tns2:AnalikIsgoremezlikRaporDVO" />
          <xsd:element name="dogumOncesiCalisabilirRapor" nillable="true" type="tns2:DogumOncesiCalisabilirRaporDVO" />
          <xsd:element name="dogumRapor" nillable="true" type="tns2:DogumRaporDVO" />
          <xsd:element name="ilacRapor" nillable="true" type="tns2:IlacRaporDVO" />
          <xsd:element name="maluliyetRapor" nillable="true" type="tns2:MaluliyetRaporDVO" />
          <xsd:element name="protezRapor" nillable="true" type="tns2:ProtezRaporDVO" />
          <xsd:element name="tedaviRapor" nillable="true" type="tns2:TedaviRaporDVO" />
          <xsd:element name="isgoremezlikRapor" nillable="true" type="tns2:IsgoremezlikRaporDVO" />
          <xsd:element name="isgoremezlikRaporEkleri" nillable="true" type="impl:ArrayOf_tns2_nillable_IsgoremezlikRaporEkDVO" />
          <xsd:element name="sonucAciklamasi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" type="xsd:int" />
          <xsd:element name="raporTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnalikIsgoremezlikRaporDVO">
        <xsd:sequence>
          <xsd:element name="bebekDogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="cocukSayisi" type="xsd:int" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporDVO">
        <xsd:sequence>
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="baslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="doktorlar" nillable="true" type="impl:ArrayOf_tns2_nillable_DoktorBilgisiDVO" />
          <xsd:element name="durum" nillable="true" type="xsd:string" />
          <xsd:element name="duzenlemeTuru" nillable="true" type="xsd:string" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="protokolTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="tanilar" nillable="true" type="impl:ArrayOf_tns2_nillable_TaniBilgisiDVO" />
          <xsd:element name="turu" nillable="true" type="xsd:string" />
          <xsd:element name="raporBilgisi" nillable="true" type="tns2:RaporBilgisiDVO" />
          <xsd:element name="hakSahibi" nillable="true" type="tns2:HakSahibiBilgisiDVO" />
          <xsd:element name="takipNo" nillable="true" type="xsd:string" />
          <xsd:element name="klinikTani" nillable="true" type="xsd:string" />
          <xsd:element name="teshisler" nillable="true" type="impl:ArrayOf_tns2_nillable_TeshisBilgisiDVO" />
          <xsd:element name="ilacTeshisler" nillable="true" type="impl:ArrayOf_tns2_nillable_IlacTeshisBilgiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DoktorBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="drAdi" nillable="true" type="xsd:string" />
          <xsd:element name="drSoyadi" nillable="true" type="xsd:string" />
          <xsd:element name="tipi" nillable="true" type="xsd:string" />
          <xsd:element name="drBransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="drTescilNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="no" nillable="true" type="xsd:string" />
          <xsd:element name="tarih" nillable="true" type="xsd:string" />
          <xsd:element name="raporTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HakSahibiBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="tckimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="devredilenKurum" nillable="true" type="xsd:string" />
          <xsd:element name="karneNo" nillable="true" type="xsd:string" />
          <xsd:element name="sigortaliTuru" nillable="true" type="xsd:string" />
          <xsd:element name="sosyalGuvenlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="yakinlikKodu" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="provizyonTipi" nillable="true" type="xsd:string" />
          <xsd:element name="adi" nillable="true" type="xsd:string" />
          <xsd:element name="soyadi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TeshisBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="baslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="teshisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IlacTeshisBilgiDVO">
        <xsd:sequence>
          <xsd:element name="baslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="teshisKodu" type="xsd:int" />
          <xsd:element name="ICD10Kodu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DogumOncesiCalisabilirRaporDVO">
        <xsd:sequence>
          <xsd:element name="bebekDogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="dogumIzniBaslangicTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DogumRaporDVO">
        <xsd:sequence>
          <xsd:element name="anesteziTipi" nillable="true" type="xsd:string" />
          <xsd:element name="bebekDogumTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="canliCocukSayisi" type="xsd:int" />
          <xsd:element name="cocuklar" nillable="true" type="impl:ArrayOf_tns2_nillable_CocukBilgisiDVO" />
          <xsd:element name="cocukSayisi" type="xsd:int" />
          <xsd:element name="dogumTipi" nillable="true" type="xsd:string" />
          <xsd:element name="epizyotemi" nillable="true" type="xsd:string" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CocukBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="cinsiyet" nillable="true" type="xsd:string" />
          <xsd:element name="dogumSaati" nillable="true" type="xsd:string" />
          <xsd:element name="kilo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IlacRaporDVO">
        <xsd:sequence>
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
          <xsd:element name="raporEtkinMaddeler" nillable="true" type="impl:ArrayOf_tns2_nillable_RaporEtkinMaddeDVO" />
          <xsd:element name="takipFormuNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MaluliyetRaporDVO">
        <xsd:sequence>
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="maluliyetYuzdesi" nillable="true" type="xsd:string" />
          <xsd:element name="bransGorusleri" nillable="true" type="impl:ArrayOf_tns2_nillable_BransGorusBilgisiDVO" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BransGorusBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="bransKodu" nillable="true" type="xsd:string" />
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProtezRaporDVO">
        <xsd:sequence>
          <xsd:element name="malzemeler" nillable="true" type="impl:ArrayOf_tns2_nillable_MalzemeBilgisiDVO" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MalzemeBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="adet" type="xsd:int" />
          <xsd:element name="malzemeAdi" nillable="true" type="xsd:string" />
          <xsd:element name="malzemeKodu" nillable="true" type="xsd:string" />
          <xsd:element name="malzemeTuru" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TedaviRaporDVO">
        <xsd:sequence>
          <xsd:element name="tedaviRaporTuru" type="xsd:int" />
          <xsd:element name="islemler" nillable="true" type="impl:ArrayOf_tns2_nillable_TedaviIslemBilgisiDVO" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TedaviIslemBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="diyalizRaporBilgisi" nillable="true" type="tns2:DiyalizRaporBilgisiDVO" />
          <xsd:element name="eswlRaporBilgisi" nillable="true" type="tns2:ESWLRaporBilgisiDVO" />
          <xsd:element name="eswtRaporBilgisi" nillable="true" type="tns2:ESWTRaporBilgisiDVO" />
          <xsd:element name="ftrRaporBilgisi" nillable="true" type="tns2:FTRRaporBilgisiDVO" />
          <xsd:element name="hotRaporBilgisi" nillable="true" type="tns2:HOTRaporBilgisiDVO" />
          <xsd:element name="tupBebekRaporBilgisi" nillable="true" type="tns2:TupBebekRaporBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DiyalizRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="refakatVarMi" nillable="true" type="xsd:string" />
          <xsd:element name="seansGun" type="xsd:int" />
          <xsd:element name="seansSayi" type="xsd:int" />
          <xsd:element name="butKodu" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ESWLRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="butKodu" nillable="true" type="xsd:string" />
          <xsd:element name="eswlRaporuTasBilgileri" nillable="true" type="impl:ArrayOf_tns2_nillable_ESWLTasBilgisiDVO" />
          <xsd:element name="eswlRaporuTasSayisi" type="xsd:int" />
          <xsd:element name="eswlRaporuSeansSayisi" type="xsd:int" />
          <xsd:element name="bobrekBilgisi" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ESWLTasBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="tasBoyutu" nillable="true" type="xsd:string" />
          <xsd:element name="tasLokalizasyonKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ESWTRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="seansGun" type="xsd:int" />
          <xsd:element name="seansSayi" type="xsd:int" />
          <xsd:element name="butKodu" nillable="true" type="xsd:string" />
          <xsd:element name="eswtVucutBolgesiKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FTRRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="butKodu" nillable="true" type="xsd:string" />
          <xsd:element name="ftrVucutBolgesiKodu" type="xsd:int" />
          <xsd:element name="seansGun" type="xsd:int" />
          <xsd:element name="seansSayi" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HOTRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="seansGun" type="xsd:int" />
          <xsd:element name="seansSayi" type="xsd:int" />
          <xsd:element name="tedaviSuresi" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TupBebekRaporBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="butKodu" nillable="true" type="xsd:string" />
          <xsd:element name="tupBebekRaporTuru" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IsgoremezlikRaporDVO">
        <xsd:sequence>
          <xsd:element name="kontrolMu" nillable="true" type="xsd:string" />
          <xsd:element name="kontrolTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yatislar" nillable="true" type="impl:ArrayOf_tns2_nillable_HastaYatisBilgisiDVO" />
          <xsd:element name="raporDVO" nillable="true" type="tns2:RaporDVO" />
          <xsd:element name="hastaYatisVarMi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HastaYatisBilgisiDVO">
        <xsd:sequence>
          <xsd:element name="cikisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yatisTarihi" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IsgoremezlikRaporEkDVO">
        <xsd:sequence>
          <xsd:element name="aciklama" nillable="true" type="xsd:string" />
          <xsd:element name="bitisTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="durum" nillable="true" type="xsd:string" />
          <xsd:element name="duzenlemeTuru" nillable="true" type="xsd:string" />
          <xsd:element name="hastaYatisVarMi" nillable="true" type="xsd:string" />
          <xsd:element name="kontrolMu" nillable="true" type="xsd:string" />
          <xsd:element name="kontrolTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="protokolNo" nillable="true" type="xsd:string" />
          <xsd:element name="protokolTarihi" nillable="true" type="xsd:string" />
          <xsd:element name="yatislar" nillable="true" type="impl:ArrayOf_tns2_nillable_HastaYatisBilgisiDVO" />
          <xsd:element name="raporBilgisiDVO" nillable="true" type="tns2:RaporBilgisiDVO" />
          <xsd:element name="doktorlar" nillable="true" type="impl:ArrayOf_tns2_nillable_DoktorBilgisiDVO" />
          <xsd:element name="tanilar" nillable="true" type="impl:ArrayOf_tns2_nillable_TaniBilgisiDVO" />
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporOkuRaporTakipNodanDVO">
        <xsd:sequence>
          <xsd:element name="raporTakipNo" nillable="true" type="xsd:string" />
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporGirisDVO">
        <xsd:sequence>
          <xsd:element name="analikRapor" nillable="true" type="tns2:AnalikIsgoremezlikRaporDVO" />
          <xsd:element name="dogumOncesiCalisabilirRapor" nillable="true" type="tns2:DogumOncesiCalisabilirRaporDVO" />
          <xsd:element name="dogumRapor" nillable="true" type="tns2:DogumRaporDVO" />
          <xsd:element name="ilacRapor" nillable="true" type="tns2:IlacRaporDVO" />
          <xsd:element name="maluliyetRapor" nillable="true" type="tns2:MaluliyetRaporDVO" />
          <xsd:element name="protezRapor" nillable="true" type="tns2:ProtezRaporDVO" />
          <xsd:element name="tedaviRapor" nillable="true" type="tns2:TedaviRaporDVO" />
          <xsd:element name="isgoremezlikRapor" nillable="true" type="tns2:IsgoremezlikRaporDVO" />
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporSorguDVO">
        <xsd:sequence>
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
          <xsd:element name="raporBilgisi" nillable="true" type="tns2:RaporOkuDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporOkuDVO">
        <xsd:sequence>
          <xsd:element name="turu" nillable="true" type="xsd:string" />
          <xsd:element name="no" nillable="true" type="xsd:string" />
          <xsd:element name="tarih" nillable="true" type="xsd:string" />
          <xsd:element name="raporTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporUzatCevapDVO">
        <xsd:sequence>
          <xsd:element name="sonucAciklamasi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" type="xsd:int" />
          <xsd:element name="isgoremezlikRaporEk" nillable="true" type="tns2:IsgoremezlikRaporEkDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporOkuTCKimlikNodanDVO">
        <xsd:sequence>
          <xsd:element name="raporTuru" nillable="true" type="xsd:string" />
          <xsd:element name="tckimlikNo" nillable="true" type="xsd:string" />
          <xsd:element name="kullaniciTesisKodu" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaporCevapTCKimlikNodanDVO">
        <xsd:sequence>
          <xsd:element name="sonucAciklamasi" nillable="true" type="xsd:string" />
          <xsd:element name="sonucKodu" type="xsd:int" />
          <xsd:element name="raporlar" nillable="true" type="impl:ArrayOf_tns2_nillable_RaporCevapDVO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servisler.ws.gss.sgk.gov.tr">
      <xsd:import namespace="http://rapor.dvo.gss.sgk.gov.tr" />
      <xsd:complexType name="ArrayOf_tns2_nillable_RaporEtkinMaddeDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RaporEtkinMaddeDVO" nillable="true" type="tns2:RaporEtkinMaddeDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_TaniBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TaniBilgisiDVO" nillable="true" type="tns2:TaniBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ilacRaporDuzeltResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ilacRaporDuzeltReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBulRaporTakipNodan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporOku" nillable="true" type="tns2:RaporOkuRaporTakipNodanDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBulRaporTakipNodanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisiBulRaporTakipNodanReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipNoileRaporBilgisiKaydet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporGiris" nillable="true" type="tns2:RaporGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="takipNoileRaporBilgisiKaydetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="takipNoileRaporBilgisiKaydetReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBul">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisi" nillable="true" type="tns2:RaporSorguDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBulResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisiBulReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporUzat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isgoremezlikRaporEkDVO" nillable="true" type="tns2:IsgoremezlikRaporEkDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporUzatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporUzatReturn" nillable="true" type="tns2:RaporUzatCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBulTCKimlikNodan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporOku" nillable="true" type="tns2:RaporOkuTCKimlikNodanDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiBulTCKimlikNodanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisiBulTCKimlikNodanReturn" nillable="true" type="tns2:RaporCevapTCKimlikNodanDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiKaydet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporGiris" nillable="true" type="tns2:RaporGirisDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiKaydetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisiKaydetReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiSil">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisi" nillable="true" type="tns2:RaporSorguDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="raporBilgisiSilResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporBilgisiSilReturn" nillable="true" type="tns2:RaporCevapDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ilacRaporDuzelt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raporDuzelt" nillable="true" type="tns2:IlacRaporDuzeltDVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns2_nillable_DoktorBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DoktorBilgisiDVO" nillable="true" type="tns2:DoktorBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_TeshisBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TeshisBilgisiDVO" nillable="true" type="tns2:TeshisBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_IlacTeshisBilgiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IlacTeshisBilgiDVO" nillable="true" type="tns2:IlacTeshisBilgiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_CocukBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CocukBilgisiDVO" nillable="true" type="tns2:CocukBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_BransGorusBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BransGorusBilgisiDVO" nillable="true" type="tns2:BransGorusBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_MalzemeBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MalzemeBilgisiDVO" nillable="true" type="tns2:MalzemeBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_ESWLTasBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ESWLTasBilgisiDVO" nillable="true" type="tns2:ESWLTasBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_TedaviIslemBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TedaviIslemBilgisiDVO" nillable="true" type="tns2:TedaviIslemBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_HastaYatisBilgisiDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="HastaYatisBilgisiDVO" nillable="true" type="tns2:HastaYatisBilgisiDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_IsgoremezlikRaporEkDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IsgoremezlikRaporEkDVO" nillable="true" type="tns2:IsgoremezlikRaporEkDVO" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_RaporCevapDVO">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RaporCevapDVO" nillable="true" type="tns2:RaporCevapDVO" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="raporBilgisiBulRaporTakipNodanRequest">
    <wsdl:part name="parameters" element="impl:raporBilgisiBulRaporTakipNodan" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiKaydetRequest">
    <wsdl:part name="parameters" element="impl:raporBilgisiKaydet" />
  </wsdl:message>
  <wsdl:message name="raporUzatResponse">
    <wsdl:part name="parameters" element="impl:raporUzatResponse" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiBulTCKimlikNodanRequest">
    <wsdl:part name="parameters" element="impl:raporBilgisiBulTCKimlikNodan" />
  </wsdl:message>
  <wsdl:message name="takipNoileRaporBilgisiKaydetResponse">
    <wsdl:part name="parameters" element="impl:takipNoileRaporBilgisiKaydetResponse" />
  </wsdl:message>
  <wsdl:message name="ilacRaporDuzeltRequest">
    <wsdl:part name="parameters" element="impl:ilacRaporDuzelt" />
  </wsdl:message>
  <wsdl:message name="takipNoileRaporBilgisiKaydetRequest">
    <wsdl:part name="parameters" element="impl:takipNoileRaporBilgisiKaydet" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiBulRaporTakipNodanResponse">
    <wsdl:part name="parameters" element="impl:raporBilgisiBulRaporTakipNodanResponse" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiKaydetResponse">
    <wsdl:part name="parameters" element="impl:raporBilgisiKaydetResponse" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiSilResponse">
    <wsdl:part name="parameters" element="impl:raporBilgisiSilResponse" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiBulResponse">
    <wsdl:part name="parameters" element="impl:raporBilgisiBulResponse" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiBulRequest">
    <wsdl:part name="parameters" element="impl:raporBilgisiBul" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiBulTCKimlikNodanResponse">
    <wsdl:part name="parameters" element="impl:raporBilgisiBulTCKimlikNodanResponse" />
  </wsdl:message>
  <wsdl:message name="raporUzatRequest">
    <wsdl:part name="parameters" element="impl:raporUzat" />
  </wsdl:message>
  <wsdl:message name="raporBilgisiSilRequest">
    <wsdl:part name="parameters" element="impl:raporBilgisiSil" />
  </wsdl:message>
  <wsdl:message name="ilacRaporDuzeltResponse">
    <wsdl:part name="parameters" element="impl:ilacRaporDuzeltResponse" />
  </wsdl:message>
  <wsdl:portType name="RaporIslemleri">
    <wsdl:operation name="ilacRaporDuzelt">
      <wsdl:input name="ilacRaporDuzeltRequest" message="impl:ilacRaporDuzeltRequest" />
      <wsdl:output name="ilacRaporDuzeltResponse" message="impl:ilacRaporDuzeltResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBulRaporTakipNodan">
      <wsdl:input name="raporBilgisiBulRaporTakipNodanRequest" message="impl:raporBilgisiBulRaporTakipNodanRequest" />
      <wsdl:output name="raporBilgisiBulRaporTakipNodanResponse" message="impl:raporBilgisiBulRaporTakipNodanResponse" />
    </wsdl:operation>
    <wsdl:operation name="takipNoileRaporBilgisiKaydet">
      <wsdl:input name="takipNoileRaporBilgisiKaydetRequest" message="impl:takipNoileRaporBilgisiKaydetRequest" />
      <wsdl:output name="takipNoileRaporBilgisiKaydetResponse" message="impl:takipNoileRaporBilgisiKaydetResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBul">
      <wsdl:input name="raporBilgisiBulRequest" message="impl:raporBilgisiBulRequest" />
      <wsdl:output name="raporBilgisiBulResponse" message="impl:raporBilgisiBulResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporUzat">
      <wsdl:input name="raporUzatRequest" message="impl:raporUzatRequest" />
      <wsdl:output name="raporUzatResponse" message="impl:raporUzatResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBulTCKimlikNodan">
      <wsdl:input name="raporBilgisiBulTCKimlikNodanRequest" message="impl:raporBilgisiBulTCKimlikNodanRequest" />
      <wsdl:output name="raporBilgisiBulTCKimlikNodanResponse" message="impl:raporBilgisiBulTCKimlikNodanResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiKaydet">
      <wsdl:input name="raporBilgisiKaydetRequest" message="impl:raporBilgisiKaydetRequest" />
      <wsdl:output name="raporBilgisiKaydetResponse" message="impl:raporBilgisiKaydetResponse" />
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiSil">
      <wsdl:input name="raporBilgisiSilRequest" message="impl:raporBilgisiSilRequest" />
      <wsdl:output name="raporBilgisiSilResponse" message="impl:raporBilgisiSilResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RaporIslemleriSoapBinding" type="impl:RaporIslemleri">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ilacRaporDuzelt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ilacRaporDuzeltRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ilacRaporDuzeltResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBulRaporTakipNodan">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporBilgisiBulRaporTakipNodanRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporBilgisiBulRaporTakipNodanResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="takipNoileRaporBilgisiKaydet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="takipNoileRaporBilgisiKaydetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="takipNoileRaporBilgisiKaydetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBul">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporBilgisiBulRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporBilgisiBulResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporUzat">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporUzatRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporUzatResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiBulTCKimlikNodan">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporBilgisiBulTCKimlikNodanRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporBilgisiBulTCKimlikNodanResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiKaydet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporBilgisiKaydetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporBilgisiKaydetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raporBilgisiSil">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="raporBilgisiSilRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="raporBilgisiSilResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RaporIslemleriService">
    <wsdl:port name="RaporIslemleri" binding="impl:RaporIslemleriSoapBinding">
      <wsdlsoap:address location="http://medula.sgk.gov.tr:80/medulaws/services/RaporIslemleri" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>